{% extends "layout.html" %}

{% block title %}
    MODULO DE ADMINISTRACION
{% endblock %}

{% block body %}

<div class"container">
    <div class="row">
        <div class="h1 text-white"> MODULO DE ADMINISTRACION </div>
        <div class="col">
            
            <div class="h3 text-white"> Ver lista de Visitantes Registrados</div>

                <button class="btn btn-primary" type="submit"> Ver Lista de Visitantes Registrados </button>
                <div class=" "
            </div>
        </div>





</div>
{% endblock %}