{% extends "layout.html" %}

{% block title %}
    ADMINISTRACION DE EXPOSITORES
{% endblock %}

{% block head %}

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}
<!-- ADMINISTRACION DE EXPOSITORES -->
<div class="container">
        <!-- Titulo -->
    <div class="h1 text-white p-3"> ADMINISTRACION DE EXPOSITORES </div>
    <!-- 1st row - Form Registro de Expositores-->
    <div class="row p-4">
        <div class="col">
            <div class="h6 text-white"> Registro de Expositores</div>
        </div>
        <div class="col">
            <button class="btn btn-primary" onclick="location.href='{{ url_for('formulario_registro_expositores') }}'"> Nuevo Registro </button>
        </div>
    </div>
</div>

<!-- LISTA DE EXPOSITORES REGISTRADOS -->

<div class="container-fluid" style="font-size: 12px; text-align: center; padding: 0px; margin: 0px;">
    <div class="row">
        <div class="col d-print-table">
            <h3 class="text-light"> Lista de Empresas Registradas</h3>
            <button class="btn btn-secondary hidden-print d-print-none" onclick="window.print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir </button>
            <section>
                <div>
                    <div id="table"></div>
                  </div>


            </section>
        </div>
    </div>
</div>


<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script>
  const tableDiv = document.getElementById('table');

  const updateUrl = (prev, query) => {
    return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
  };

  const editableCellAttributes = (data, row, col) => {
      if (row) {
        return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
      }
      else {
        return {};
      }
  };

  new gridjs.Grid({
    columns: [
      { id: 'id', name: 'ID' },
      { id: 'empresa', name: 'Empresa', sort: true, 'attributes':editableCellAttributes },
      { id: 'feria', name: 'Feria', sort: true},
      { id: 'telefono', name: 'Telefono', sort: false },
      { id: 'correo', name: 'Correo', sort: false },
      { id: 'pais', name: 'Pais', sort: false },
      { id: 'password', name: 'Password', sort: false },
      { id: 'identificador', name: 'Identificador', sort: true },
      { id: 'habilitado', name: 'Habilitado', sort: true },

      {
        name: 'Habilitar', sort: false,
        formatter: (_, row) =>
                gridjs.html(`<form action="/habilitar_expositor" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Habilitar</button></form>`)       
      },

      {
        name: 'Administrar Empresa', sort: false,
        formatter: (_, row) =>
                gridjs.html(`<form action="/administrar_expositor_individual" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Administrar</button></form>`)       
      },

      {
        name: 'Desregistrar', sort: false,
        formatter: (_, row) =>
                gridjs.html(`<form action="/desregistrar_expositor" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Desregistrar</button></form>`)       
      },
      
      
    ],
    server: {
      url: '/api/data_empresas',
      then: results => results.data,
      total: results => results.total,
    },
    search: {
      enabled: true,
      server: {
        url: (prev, search) => {
          return updateUrl(prev, {search});
        },
      },
    },
    resizable: true,
    sort: {
      enabled: true,
      multiColumn: true,
      server: {
        url: (prev, columns) => {
          const columnIds = ['id', 'empresa', 'feria', 'telefono', 'correo', 'pais', 'password', 'identificador', 'habilitado'];
          const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
          return updateUrl(prev, {sort});
        },
      },
    },
    pagination: {
      enabled: true,
      server: {
        url: (prev, page, limit) => {
          return updateUrl(prev, {start: page * limit, length: limit});
        },
      },
    },
    language: {
      'search': {
        'placeholder': 'Buscar...'
      },
      'pagination': {
        'previous': 'Anterior',
        'next': 'Siguiente',
        'showing': 'Mostrando del',
        'of': 'de',
        'to': 'al',
        'results': () => 'Resultados'
      },
      'loading': 'Cargando...',
      'noRecordsFound': 'No se encontraron resultados.',
      'error': 'Ocurrio un error al obtener los datos',
    }
  }).render(tableDiv);

  let savedValue;

  tableDiv.addEventListener('focusin', ev => {
    if (ev.target.tagName === 'TD') {
      savedValue = ev.target.textContent;
    }
  });

  tableDiv.addEventListener('focusout', ev => {
    if (ev.target.tagName === 'TD') {
      if (savedValue !== ev.target.textContent) {
        fetch('/api/data_empresas', {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            id: ev.target.dataset.elementId,
            [ev.target.dataset.columnId]: ev.target.textContent
          }),
        });
      }
      savedValue = undefined;
    }
  });

  tableDiv.addEventListener('keydown', ev => {
    if (ev.target.tagName === 'TD') {
      if (ev.key === 'Escape') {
        ev.target.textContent = savedValue;
        ev.target.blur();
      }
      else if (ev.key === 'Enter') {
        ev.preventDefault();
        ev.target.blur();
      }
    }
  });
  </script>

{% endblock %}