{% if var_feria == 'TEXTIL' %}
    {% extends "layout_textil.html" %}

{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block head %}
{% endblock %}

{% block body %}
    
<div class="container">
    <div class="row">
        <div class="col">
            <div class="h1 text-white" > Bienvenida empresa: {{ empresa }}</div>
        </div>
    <div class="row">
        <div class="col text-light">

            <h6>Feria a la que asistira: {{ feria }}</h4>
            <h6>Telefono de la empresa: {{ telefono }}</h4>
            <h6>Correo de la empresa: {{ correo }}</h4>
            <h6>Pais de la empresa: {{ pais }}</h4>
            <h6>Contraseña de la cuenta: {{ password }}</h4>
            <h6>Identificador de la empresa: {{ identificador }}</h4>
            <h6>Empresa habilitada: {{ habilitado }}</h4>
        </div>
        <div class="col text-light">
            <div class="row">
                <div class="col">
                    <h5> Registrar Empleados: </h5>
                </div>
                <div class="col">
                   
                    <!-- Boton de Regreso al modulo de administracion -->
                    <a class="btn btn-light btn-sm" href="{{ url_for('registrar_empleado') }}">Registrar</a>


                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5> Ver Empleados Registrados: </h5>
                </div>
                <div class="col">
                    <a class="btn btn-light btn-sm" href="{{ url_for('ver_empleados_registrados') }}">Ver Lista</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5> Lector de Codigos QR: </h5>
                </div>
                <div class="col">
                    <a class="btn btn-light btn-sm" href="{{ url_for('lector_qr') }}">Activar</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5> Ver Visitantes: </h5>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-light">Ver</button>
                </div>
            </div>
            

        </div>
    </div>
    </div>


</div>



 
    <!-- Add more details as needed -->

    <form method="post" action="/empresa_login">

        <!-- Nombre del Empleado -->
        <div class="form-group mb-2 pt-3">
            <label for="nombre_empleado"  class="form-label text-white" id="nombre_empleado_id">Empresa:</label>
            <input type="text" class="form-control mx-auto" id="nombre_empleado" name="nombre_empleado" required>
        </div>

        <!-- Empresa del Empleado -->
        <div class="form-group mb-2">
            <label for="empresa_empleado"  class="form-label text-white" id="password_lang">Contraseña:</label>
            <input type="password" class="form-control mx-auto" id="password" name="password" required>
        </div>

        <!-- Ingresar -->
        <button type="submit" class="botoncito" id="boton_ingresar_lang">Ingresar</button>
    </form>

{% endblock %}
