<!-- registrantes.html -->

{% extends "layout.html" %}

{% block head %}
<meta charset="UTF-8">
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

{% endblock %}

{% block body %}
<!-- Boton para volver a Administracion-->
<button class="btn btn-light btn-sm" type="submit" onclick="location.href='{{ url_for('administracion') }}'"> Volver a Administración </button>

    <div class="container-fluid" style="font-size: 12px; text-align: center; padding: 0px; margin: 0px;">

        <div class="row">
            <div class="col d-print-table">
              
              <!-- Titulo - Lista de Visitantes Registrados-->
                <h3 class="text-light"> Lista de Visitantes Registrados</h3>

                <!-- Boton para Imprimir Lista-->
                <button class="btn btn-secondary hidden-print d-print-none" onclick="window.print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir </button>
                
                <!-- Boton para Exportar datos a Excel -->
                <button class="btn btn-success" type="submit" onclick="location.href='{{ url_for('export') }}'"> Exportar a Excel </button>
                
                <section>
                    <div>
                        <!-- Table Div -->
                        <div id="table"></div>
                      </div>


                </section>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>

      // Select the Table Div
      const tableDiv = document.getElementById('table');

      // Update URLs
      const updateUrl = (prev, query) => {
        return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
      };

      // Edit Cell Attributes
      const editableCellAttributes = (data, row, col) => {
          if (row) {
            return {contentEditable: 'true', 'data-element-id': row.cells[0].data};
          }
          else {
            return {};
          }
      };

      // Initialize Grid
      new gridjs.Grid({
        columns: [
          { id: 'id', name: 'ID' },
          { id: 'empresa', name: 'Empresa', sort: false, 'attributes': editableCellAttributes },
          { id: 'nombre', name: 'Nombre', 'attributes': editableCellAttributes },
          { id: 'cargo', name: 'Cargo', sort: false, 'attributes': editableCellAttributes},
          { id: 'documento', name: 'Documento', sort: true },
          { id: 'telefono', name: 'Telefono', sort: false, 'attributes': editableCellAttributes },
          { id: 'correo', name: 'Correo', sort: false, 'attributes': editableCellAttributes },
          { id: 'ciudad', name: 'Ciudad', sort: false, 'attributes': editableCellAttributes },
          { id: 'pais', name: 'Pais' },
          { id: 'feria', name: 'Feria' },
          { id: 'identificador', name: 'Identificador' },
          { id: 'fecha_de_registro', name: 'Fecha' },
          {
            name: 'Desregistrar', sort: false,
            formatter: (_, row) =>
                    gridjs.html(`<form action="/desregistrarse" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Desregistrar</button></form>`)       
          },
          {
            name: 'Imprimir Etiqueta', sort: false,
            formatter: (_, row) =>
                    gridjs.html(`<form action="/generate_qr" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Imprimir Etiqueta</button></form>`)       
          },
          {
            name: 'Reenviar QR', sort: false,
            formatter: (_, row) =>
                    gridjs.html(`<form action="/reenviar_qr" method="post"><input name="id" type="hidden" value="${row.cells[0].data }"><button type="submit" class="btn btn-danger d-print-none">Re enviar QR</button></form>`)       
          },
          
          
        ],

        // Server-side Data Fetching
        server: {
          url: '/api/data',
          then: results => results.data,
          total: results => results.total,
        },

        // Searching
        search: {
          enabled: true,
          server: {
            url: (prev, search) => {
              return updateUrl(prev, {search});
            },
          },
        },
        resizable: true,

        // Sorting
        sort: {
          enabled: true,
          multiColumn: true,
          server: {
            url: (prev, columns) => {
              const columnIds = ['id', 'empresa', 'nombre', 'cargo', 'documento', 'telefono', 'correo', 'ciudad', 'pais', 'feria', 'identificador', 'fecha_de_registro'];
              const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
              return updateUrl(prev, {sort});
            },
          },
        },

        // Pagination
        pagination: {
          enabled: true,
          server: {
            url: (prev, page, limit) => {
              return updateUrl(prev, {start: page * limit, length: limit});
            },
          },
        },

        // Language Customization
        language: {
          'search': {
            'placeholder': 'Buscar...'
          },
          'pagination': {
            'previous': 'Anterior',
            'next': 'Siguiente',
            'showing': 'Mostrando del',
            'of': 'de',
            'to': 'al',
            'results': () => 'Resultados'
          },
          'loading': 'Cargando...',
          'noRecordsFound': 'No se encontraron resultados.',
          'error': 'Ocurrio un error al obtener los datos',
        }
      }).render(tableDiv);

      let savedValue;

      // EVENT LISTENERS

      // Focus In Event - Saves the current cell content when the cell gains focus.
      tableDiv.addEventListener('focusin', ev => {
        if (ev.target.tagName === 'TD') {
          savedValue = ev.target.textContent;
        }
      });

      // Focus Out Event - Sends a POST request to update the server with new cell content if it has changed.
      tableDiv.addEventListener('focusout', ev => {
        if (ev.target.tagName === 'TD') {
          if (savedValue !== ev.target.textContent) {
            fetch('/api/data', {
              method: 'POST',
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({
                id: ev.target.dataset.elementId,
                [ev.target.dataset.columnId]: ev.target.textContent
              }),
            });
          }
          savedValue = undefined;
        }
      });

      // Keydown Event - Handles keyboard interactions. Esc cancels changes, Enter confirms them by blurring the cell.
      tableDiv.addEventListener('keydown', ev => {
        if (ev.target.tagName === 'TD') {
          if (ev.key === 'Escape') {
            ev.target.textContent = savedValue;
            ev.target.blur();
          }
          else if (ev.key === 'Enter') {
            ev.preventDefault();
            ev.target.blur();
          }
        }
      });
      </script>

{% endblock %}