{% extends "layout.html" %}

{% block body %}
    <div class="container-fluid" style="font-size: 12px; text-align: center; padding: 0px; margin: 0px;">
        <div class="row">
            <div class="col d-print-table">
                <h3 class="text-light"> Lista de Visitantes Registrados</h3>
                <section>
                    <table id="table" class="table-dark table-striped table-bordered table-hover vw-100 mt-4">
                        
                        <button class="btn btn-secondary hidden-print d-print-none" onclick="window.print();"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir </button>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Empresa</th>
                                <th>Nombre</th>
                                <th>Cargo</th>
                                <th>Documento</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Ciudad</th>
                                <th>Pais</th>
                                <th>Feria</th>
                                <th>Identificador</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registrante in registrantes %}
                                <tr>
                                    <td>{{ registrante[0] }}</td>
                                    <td>{{ registrante[1] }}</td>
                                    <td>{{ registrante[2] }}</td>
                                    <td>{{ registrante[3] }}</td>
                                    <td>{{ registrante[4] }}</td>
                                    <td>{{ registrante[5] }}</td>
                                    <td>{{ registrante[6] }}</td>
                                    <td>{{ registrante[7] }}</td>
                                    <td>{{ registrante[8] }}</td>
                                    <td>{{ registrante[9] }}</td>
                                    <td>{{ registrante[10] }}</td>
                                    <td>
                                        <!--DEVELOPER SWITCH-->
                                        <!--REMOTE-->
                                        <!--<form action="/webapp/desregistrarse" method="post">-->
                                        <!--LOCAL-->
                                        <form action="/desregistrarse" method="post">


                                            <input name="id" type="hidden" value="{{ registrante[0] }}">
                                            <button type="submit" class="btn btn-danger d-print-none">Desregistrar</button>
                                        </form>

                                    </td>
                                    <td>
                                        <!--DEVELOPER SWITCH-->
                                        <!--REMOTE-->
                                        <!--<form action="/webapp/generate_qr" method="post" target="_blank">-->
                                        <!--LOCAL-->
                                        <form action="/generate_qr" method="post" target="_blank">


                                            <input name="id" type="hidden" value="{{ registrante[0] }}">
                                            <button type="submit" class="btn btn-secondary d-print-none">Generar Qr</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </section>
            </div>
        </div>
    </div>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}